/* Add CSS styles here! */

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin-top: 15px;
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  max-width: 40em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

header ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 10px;
}

header ul li {
  margin: 0px 10px;
}

.container {
  margin: 20px;
}

#level {
  border: 0;
  border-bottom: 1px solid black;
  font-weight: bold;
  color: tomato;
}

.strikethrough {
  text-decoration: line-through;
  color: gray;
}

.list-item {
  margin-top: 5px;
}

.version {
  color: #aaa;
}

.label {
  font-size: .8em;
  border: 1px #ddd solid;
  padding: 0 5px;
  border-radius: 3px;
}

.label-normal-size {
  font-size: 1em;
}

.label-red {
  background-color: #F87171;
  color: white;
  border-color: #FCA5A5;
}

.label-green {
  background-color: #10B981;
  color: white;
  border-color: #34D399;
}

.label-black {
  background-color: #111;;
  border-color: #222;
  color: white;
}

